<video #bgVideo autoplay loop muted playsinline class="fons-animat">
  <source src="/fondo_login.mp4" type="video/mp4">
</video>

<div class="login-container">
  <h2 class="login-title">Entra a Xuxemons</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    
    <div class="form-group">
      <label>ID de Jugador (ex: Nom#1234):</label>
      <input type="text" formControlName="custom_id" class="pixel-input" placeholder="Tu ID aquí">
    </div>

    <div class="form-group">
      <label>Contrasenya:</label>
      <input type="password" formControlName="password" class="pixel-input" placeholder="****">
    </div>

    @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }

    <button type="submit" [disabled]="loginForm.invalid" class="pixel-button">
      Iniciar Sessió
    </button>
  </form>

  <p class="register-link">
    No tens un compte? <br><a routerLink="/register">Registra't aquí</a>
  </p>
</div>